.about {
  padding-top: 115px;

  .section-intro {
    margin-bottom: 40px;
  }

  .about-list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      background-color: @theme-dark-blue;
      color: #fff;
      max-width: 255px;
      margin-top: 25px;
      padding-top: 60px;
      padding-right: 25px;
      padding-left: 25px;
      padding-bottom: 60px;
      border: 1px solid transparent;

      h3 {
        text-transform: uppercase;
        font-size: 18px;
        padding-top: 45px;
        padding-bottom: 20px;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 28px;
      }

      .icon {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        i {
          color: @theme-yellow;
          font-size: 32px;
        }
      }
    }

    .item:hover {
      background-color: #fff;
      border: 1px solid @theme-yellow;

      h3,
      p {
        color: @theme-dark-text;
      }

      .icon {
        background-color: @theme-yellow;

        i {
          color: #fff;
        }
      }
    }
  }

  @media screen and (max-width: 1110px) {
    .about-list {
      .item {
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }

  @media screen and (max-width: 941px) {
    .about-list {
      justify-content: center;
    }
  }

  @media screen and (max-width: 490px) {
    .item {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
