.container {
  position: relative;
  height: auto;
  max-width: 1110px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section-intro {
  max-width: 733px;
  margin: 0 auto;
  margin-bottom: 65px;
  text-align: center;

  p {
    color: @theme-dark-text;
    font-size: 18px;
  }

  h1 {
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 36px;
    color: @theme-dark;
    font-family: "proxima_nova_altbold", sans-serif;

    span {
      color: @theme-yellow;
      font-family: "proxima_nova_altbold", sans-serif;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: @theme-dark-text;
  }
}

.btn {
  border: 0;
  height: 50px;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @theme-yellow;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: 0px 0px 30px 0px rgba(45, 62, 80, 0.2);
  }
}
