@import "variables";

.contact-header {
  background-color: @theme-dark-blue;
  width: 100%;
  height: auto;
  overflow: auto;
  color: #fff;
  font-size: 14px;

  .contact {
    position: relative;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .email {
      display: flex;

      i {
        color: @theme-yellow;
      }

      p {
        margin-left: 20px;
      }
    }
  }

  @media screen and (max-width: 470px) {
    .contact {
      flex-direction: column;
      padding-top: 10px;
      margin-bottom: 10px;
    }
  }
}
