.features {
  padding-top: 100px;

  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      display: flex;
      max-width: 330px;
      align-items: flex-start;
      margin-top: 60px;

      .image {
        min-width: 65px;
      }

      .infos {
        padding-left: 20px;
        color: @theme-dark-text;

        h3 {
          font-family: "Open Sans", sans-serif;
          font-weight: normal;
          font-size: 24px;
        }

        p {
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 1046px) {
    .features-list {
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 716px) {
    .features-list {
      justify-content: center;
    }
  }

  @media screen and (max-width: 400px) {
    .item {
      .image {
        margin: 0 auto;
      }
      h3 {
        padding-top: 10px;
        padding-bottom: 5px;
      }
      text-align: center;
      flex-direction: column;
    }
  }
}
