.main-footer {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: @theme-blue;
  }

  .contact {
    margin-top: 60px;
    margin-bottom: 110px;

    .btn {
      position: relative;
      margin-left: -55px;
      z-index: 100;
    }

    input {
      border: 0;
      border-radius: 25px;
      box-shadow: 0px 0px 30px 0px rgba(45, 62, 80, 0.2);
      padding-left: 30px;
      padding-right: 65px;
      width: 270px;
      height: 50px;
      background-color: #f0f0f0;
      font-family: "Open Sans", sans-serif;
      color: @theme-blue;
      font-size: 14px;

      &::placeholder {
        font-family: "Open Sans", sans-serif;
        color: @theme-blue;
        font-size: 14px;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 30px 0px rgba(45, 62, 80, 0.3);
      }
    }
  }

  p {
    font-family: "Open Sans", sans-serif;
    color: @theme-blue;
    font-size: 12px;
  }
}
