.main-header {
  color: @theme-dark;
  width: 100%;
  height: auto;
  background-color: #fff;

  .header {
    position: relative;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      text-transform: uppercase;
      font-size: 21px;
      font-weight: bold;
    }

    .nav {
      .responsive-icon-menu {
        cursor: pointer;
      }

      ul {
        list-style: none;
        align-items: center;

        li {
          color: @theme-dark;

          i {
            cursor: pointer;
            padding-top: 29px;
            padding-right: 0;
            padding-bottom: 29px;
            padding-left: 29px;

            &:hover {
              color: @theme-yellow;
            }
          }

          a {
            color: @theme-dark;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 29px;
          }
        }
      }
    }

    span,
    .nav a.active,
    .nav a:hover {
      color: @theme-yellow;
    }
  }

  @media screen and (min-width: 900px) {
    ul {
      display: flex;
    }
    .responsive-icon-menu {
      display: none;
    }
  }

  @media screen and (max-width: 900px) {
    ul {
      display: none;
    }
  }
}
