* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}

@import "variables";
@import "base";
@import "contact-header";
@import "main-header";
@import "about";
@import "services";
@import "statistics";
@import "members";
@import "projects";
@import "features";
@import "testimonials";
@import "news";
@import "footer";
