.members {
  padding-top: 115px;
  padding-bottom: 120px;

  .members-list {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;

    .item {
      width: 330px;
      background-color: @theme-dark-blue;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;

      .image {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 35px;

        img {
          width: 100%;
        }
      }

      h3 {
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: @theme-yellow;
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .social {
        display: flex;
        justify-content: center;

        .social-media {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          color: @theme-dark-blue;
          margin-right: 10px;
          margin-left: 10px;
          cursor: pointer;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
