.news {
  padding-top: 120px;

  .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .item {
      max-width: 310px;
      background-color: @theme-yellow;

      img {
        width: 100%;
        margin: 0;
      }

      .item-content {
        color: #fff;
        padding: 30px;
        width: 100%;

        .header {
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 26px;
        }

        .content {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          line-height: 30px;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        .footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          p,
          a {
            font-family: "Open Sans", sans-serif;
            text-decoration: none;
            font-size: 14px;
            color: @theme-dark-blue;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
