.projects {
  padding-top: 100px;

  .gallery {
    .navigation {
      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 14px;
          list-style: none;
          color: @theme-blue;
          margin-right: 35px;
          cursor: pointer;

          &:last-child {
            margin-right: 0;
          }

          &.active,
          &:hover {
            color: @theme-yellow;
          }
        }
      }
    }

    .images {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .item {
        position: relative;
        width: 25%;
        max-width: 400px;
        min-width: 300px;
        max-height: 385px;
        cursor: pointer;

        .multiply-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          background-color: @theme-yellow;
          opacity: 0.5;
        }

        i {
          display: block;
          position: absolute;
          z-index: 11;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          font-size: 24px;
          color: #fff;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
