.services {
  padding-top: 120px;
  padding-bottom: 120px;

  .service-container {
    display: flex;
  }

  .image {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .content {
    padding-left: 60px;
    padding-top: 20px;
    width: 50%;

    h1 {
      color: @theme-dark;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .service-list {
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .item-image {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 75px;
          min-height: 75px;
          max-height: 75px;
          max-width: 75px;
          border-radius: 50%;
          background-color: @theme-dark-blue;
        }

        .item-content {
          margin-left: 35px;

          h3 {
            font-size: 18px;
            font-weight: bold;
            color: @theme-dark-text;
            text-transform: uppercase;
          }

          p {
            font-family: "Open Sans", sans-serif;
            color: @theme-dark-text;
            font-size: 14px;
            line-height: 26px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
