.statistics {
  min-height: 240px;
  display: flex;
  align-items: center;
  background-image: url("../../images/statistics-bg.png");
  background-position: center;

  .statistics-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      color: #fff;
      list-style: none;
      text-align: center;

      h3 {
        font-size: 26px;
        font-weight: normal;
      }

      p {
        font-weight: bold;
        padding-top: 30px;
        font-size: 46px;
      }
    }
  }
}
