.testimonials {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: @theme-light-gray;

  .testimony {
    max-width: 920px;
    background-color: #fff;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 55px;
    padding-bottom: 55px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(45, 62, 80, 0.1);

    .infos {
      display: flex;
      align-items: center;

      .image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 30px;

        img {
          width: 100%;
          min-width: 70px;
        }
      }

      .info-box {
        h3 {
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          font-size: 16px;
          color: @theme-dark-blue;
        }

        p {
          padding-top: 5px;
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-size: 14px;
          text-transform: uppercase;
          color: @theme-dark-blue;
        }
      }
    }

    .text {
      color: @theme-dark-gray;
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      font-size: 16px;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .rating {
      color: @theme-yellow;

      i {
        margin-right: 15px;
        font-size: 14px;
      }
    }
  }
}
