* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova", sans-serif;
}
.container {
  position: relative;
  height: auto;
  max-width: 1110px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.section-intro {
  max-width: 733px;
  margin: 0 auto;
  margin-bottom: 65px;
  text-align: center;
}
.section-intro p {
  color: #232323;
  font-size: 18px;
}
.section-intro h1 {
  padding-top: 20px;
  padding-bottom: 35px;
  font-size: 36px;
  color: #252c30;
  font-family: "proxima_nova_altbold", sans-serif;
}
.section-intro h1 span {
  color: #ffc000;
  font-family: "proxima_nova_altbold", sans-serif;
}
.section-intro h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #232323;
}
.btn {
  border: 0;
  height: 50px;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffc000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  box-shadow: 0px 0px 30px 0px rgba(45, 62, 80, 0.2);
}
.contact-header {
  background-color: #2d3e50;
  width: 100%;
  height: auto;
  overflow: auto;
  color: #fff;
  font-size: 14px;
}
.contact-header .contact {
  position: relative;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.contact-header .contact .email {
  display: flex;
}
.contact-header .contact .email i {
  color: #ffc000;
}
.contact-header .contact .email p {
  margin-left: 20px;
}
@media screen and (max-width: 470px) {
  .contact-header .contact {
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
.main-header {
  color: #252c30;
  width: 100%;
  height: auto;
  background-color: #fff;
}
.main-header .header {
  position: relative;
  min-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .header h1 {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
}
.main-header .header .nav .responsive-icon-menu {
  cursor: pointer;
}
.main-header .header .nav ul {
  list-style: none;
  align-items: center;
}
.main-header .header .nav ul li {
  color: #252c30;
}
.main-header .header .nav ul li i {
  cursor: pointer;
  padding-top: 29px;
  padding-right: 0;
  padding-bottom: 29px;
  padding-left: 29px;
}
.main-header .header .nav ul li i:hover {
  color: #ffc000;
}
.main-header .header .nav ul li a {
  color: #252c30;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 29px;
}
.main-header .header span,
.main-header .header .nav a.active,
.main-header .header .nav a:hover {
  color: #ffc000;
}
@media screen and (min-width: 900px) {
  .main-header ul {
    display: flex;
  }
  .main-header .responsive-icon-menu {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .main-header ul {
    display: none;
  }
}
.about {
  padding-top: 115px;
}
.about .section-intro {
  margin-bottom: 40px;
}
.about .about-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .about-list .item {
  background-color: #2d3e50;
  color: #fff;
  max-width: 255px;
  margin-top: 25px;
  padding-top: 60px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 60px;
  border: 1px solid transparent;
}
.about .about-list .item h3 {
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 45px;
  padding-bottom: 20px;
}
.about .about-list .item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
}
.about .about-list .item .icon {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.about .about-list .item .icon i {
  color: #ffc000;
  font-size: 32px;
}
.about .about-list .item:hover {
  background-color: #fff;
  border: 1px solid #ffc000;
}
.about .about-list .item:hover h3,
.about .about-list .item:hover p {
  color: #232323;
}
.about .about-list .item:hover .icon {
  background-color: #ffc000;
}
.about .about-list .item:hover .icon i {
  color: #fff;
}
@media screen and (max-width: 1110px) {
  .about .about-list .item {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 941px) {
  .about .about-list {
    justify-content: center;
  }
}
@media screen and (max-width: 490px) {
  .about .item {
    margin-right: 0;
    margin-left: 0;
  }
}
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}
.services .service-container {
  display: flex;
}
.services .image {
  width: 50%;
}
.services .image img {
  width: 100%;
}
.services .content {
  padding-left: 60px;
  padding-top: 20px;
  width: 50%;
}
.services .content h1 {
  color: #252c30;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}
.services .content .service-list .item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.services .content .service-list .item .item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  min-height: 75px;
  max-height: 75px;
  max-width: 75px;
  border-radius: 50%;
  background-color: #2d3e50;
}
.services .content .service-list .item .item-content {
  margin-left: 35px;
}
.services .content .service-list .item .item-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: #232323;
  text-transform: uppercase;
}
.services .content .service-list .item .item-content p {
  font-family: "Open Sans", sans-serif;
  color: #232323;
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
}
.statistics {
  min-height: 240px;
  display: flex;
  align-items: center;
  background-image: url("../../images/statistics-bg.png");
  background-position: center;
}
.statistics .statistics-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistics .statistics-list li {
  color: #fff;
  list-style: none;
  text-align: center;
}
.statistics .statistics-list li h3 {
  font-size: 26px;
  font-weight: normal;
}
.statistics .statistics-list li p {
  font-weight: bold;
  padding-top: 30px;
  font-size: 46px;
}
.members {
  padding-top: 115px;
  padding-bottom: 120px;
}
.members .members-list {
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
}
.members .members-list .item {
  width: 330px;
  background-color: #2d3e50;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.members .members-list .item .image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.members .members-list .item .image img {
  width: 100%;
}
.members .members-list .item h3 {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.members .members-list .item p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffc000;
  margin-top: 10px;
  margin-bottom: 30px;
}
.members .members-list .item .social {
  display: flex;
  justify-content: center;
}
.members .members-list .item .social .social-media {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #2d3e50;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.members .members-list .item .social .social-media:first-child {
  margin-left: 0;
}
.members .members-list .item .social .social-media:last-child {
  margin-right: 0;
}
.projects {
  padding-top: 100px;
}
.projects .gallery .navigation ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects .gallery .navigation ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  list-style: none;
  color: #0c0e37;
  margin-right: 35px;
  cursor: pointer;
}
.projects .gallery .navigation ul li:last-child {
  margin-right: 0;
}
.projects .gallery .navigation ul li.active,
.projects .gallery .navigation ul li:hover {
  color: #ffc000;
}
.projects .gallery .images {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .gallery .images .item {
  position: relative;
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  max-height: 385px;
  cursor: pointer;
}
.projects .gallery .images .item .multiply-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffc000;
  opacity: 0.5;
}
.projects .gallery .images .item i {
  display: block;
  position: absolute;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: #fff;
}
.projects .gallery .images .item img {
  width: 100%;
  height: 100%;
}
.features {
  padding-top: 100px;
}
.features .features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features .features-list .item {
  display: flex;
  max-width: 330px;
  align-items: flex-start;
  margin-top: 60px;
}
.features .features-list .item .image {
  min-width: 65px;
}
.features .features-list .item .infos {
  padding-left: 20px;
  color: #232323;
}
.features .features-list .item .infos h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.features .features-list .item .infos p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
}
@media screen and (max-width: 1046px) {
  .features .features-list {
    justify-content: space-around;
  }
}
@media screen and (max-width: 716px) {
  .features .features-list {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .features .item {
    text-align: center;
    flex-direction: column;
  }
  .features .item .image {
    margin: 0 auto;
  }
  .features .item h3 {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
.testimonials {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: #f4f4f4;
}
.testimonials .testimony {
  max-width: 920px;
  background-color: #fff;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 55px;
  padding-bottom: 55px;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px rgba(45, 62, 80, 0.1);
}
.testimonials .testimony .infos {
  display: flex;
  align-items: center;
}
.testimonials .testimony .infos .image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 30px;
}
.testimonials .testimony .infos .image img {
  width: 100%;
  min-width: 70px;
}
.testimonials .testimony .infos .info-box h3 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #2d3e50;
}
.testimonials .testimony .infos .info-box p {
  padding-top: 5px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #2d3e50;
}
.testimonials .testimony .text {
  color: #56616e;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.testimonials .testimony .rating {
  color: #ffc000;
}
.testimonials .testimony .rating i {
  margin-right: 15px;
  font-size: 14px;
}
.news {
  padding-top: 120px;
}
.news .news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news .news-list .item {
  max-width: 310px;
  background-color: #ffc000;
}
.news .news-list .item img {
  width: 100%;
  margin: 0;
}
.news .news-list .item .item-content {
  color: #fff;
  padding: 30px;
  width: 100%;
}
.news .news-list .item .item-content .header {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}
.news .news-list .item .item-content .content {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.news .news-list .item .item-content .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.news .news-list .item .item-content .footer p,
.news .news-list .item .item-content .footer a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: #2d3e50;
}
.news .news-list .item .item-content .footer a:hover {
  text-decoration: underline;
}
.main-footer {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}
.main-footer h1 {
  font-size: 24px;
  font-weight: bold;
  color: #0c0e37;
}
.main-footer .contact {
  margin-top: 60px;
  margin-bottom: 110px;
}
.main-footer .contact .btn {
  position: relative;
  margin-left: -55px;
  z-index: 100;
}
.main-footer .contact input {
  border: 0;
  border-radius: 25px;
  box-shadow: 0px 0px 30px 0px rgba(45, 62, 80, 0.2);
  padding-left: 30px;
  padding-right: 65px;
  width: 270px;
  height: 50px;
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  color: #0c0e37;
  font-size: 14px;
}
.main-footer .contact input::placeholder {
  font-family: "Open Sans", sans-serif;
  color: #0c0e37;
  font-size: 14px;
}
.main-footer .contact input:focus {
  outline: none;
  box-shadow: 0px 0px 30px 0px rgba(45, 62, 80, 0.3);
}
.main-footer p {
  font-family: "Open Sans", sans-serif;
  color: #0c0e37;
  font-size: 12px;
}
